# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/build/

# Maven
target/
dependency-reduced-pom.xml
dependency-reduced-pom.properties

# Gradle
.gradle/
build/